.DS_Store
/.idea/*
__pycache__/
Icon?
/.vscode

results/*
!results/loadData_beam_homog_x4_readme.png
!results/buildModel_beam_homog_x4_readme.png
!results/compileModel_beam_homog_x4_readme.png
!results/trainModel_beam_homog_x4_readme.png
!results/beam_homog_x4_training_readme.png
!results/beam_homog_x4_prediction_readme.png
!results/buildModelFCNN_beam_homog_x4_readme.png
!results/buildModelCNN_beam_simp_txt_4_readme.png
!results/loadData_beam_simp_x4_readme.png
!results/buildModel_beam_simp_x4_readme.png
!results/compileModel_beam_simp_x4_readme.png
!results/trainModel_beam_simp_x4_readme.png
!results/beam_simp_x4_training_readme.png
!results/beam_simp_x4_prediction_readme.png

/datasets/afreightdata
/datasets/trunk
/datasets/trunk_test
/datasets/beam
/datasets/beam_ext
/datasets/beam_1F
/datasets/beam_homog
/datasets/beam_homog_x2
/datasets/beam_homog_x4
/datasets/beam_homog_x8
/datasets/beam_simp
/datasets/beam_simp_x4
/datasets/OLD_datasets
/results_*/
/results.docx
/vae_test.py